{% extends 'base.html.twig' %}



{% block body %}


	<h1>
		Voici le menu
	</h1>
	<div class="card-wrapper">
		<div class="card">
			<p>Map</p>
			<img id="MapPNG" src="/cartonnette-2019-688.jpg" alt="carte réseau CTS">
		</div>
		<div class="card">
			<p>Demander de l'aide</p>
			<img id="AlertePNG" src="/Alerte.png" alt="carte réseau CTS">

		</div>
		<div class="card">
			<p>Forum</p>
			<img id="Forum" src="/cartonnette-2019-688.jpg" alt="Aperçu du Forum pour CTSKiller">
		</div>
		{# <div
			class="card">
            
		</div> #}
	</div>

{% endblock %}


