{% extends 'base.html.twig' %}

{% block title %}Horaires{% endblock %}

{% block body %}
    <h1>Horaires</h1>

    <table>
        <thead>
            <tr>
                <th>Arrêt</th>
                <th>Heure de départ estimée</th>
            </tr>
        </thead>
        <tbody>
            {% for stopTime in stopTimes %}
                <tr>
                    <td>{{ stopTime.stopPointName }}</td>
                    <td>{{ stopTime.expectedDepartureTime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('points_map') }}" class="btn btn-primary">Retour à la carte</a>
{% endblock %}
