:8081 {
    encode zstd gzip

    route {
        mercure {
            # Transport à utiliser (par défaut : Bolt)
            transport_url {$MERCURE_TRANSPORT_URL:bolt://mercure.db}
            # Clé JWT du publieur
            publisher_jwt "n9FassBHgy0rWXpm5zXkYzvl4/lecdJYCzGE19f2s0w=" HS256
            # Clé JWT du souscripteur
            subscriber_jwt "D6DnVPxknCVWxWOFzrUuWTbuHxQMpv4ZBXRK6feeNKw=" HS256
        }

        header / Content-Type "text/html; charset=utf-8"
        respond / `<!DOCTYPE html>
        <html lang=en>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <title>Welcome to Mercure</title>
        <h1>Welcome to Mercure</h1>
        <p>The URL of your hub is <code>/.well-known/mercure</code>.
        Read the documentation on <a href="https://mercure.rocks">Mercure.rocks, real-time apps made easy</a>.`
    }

    respond /healthz 200
    respond "Not Found" 404
}
