{% extends 'base.html.twig' %}

{% block title %}Découvrir nos offres{% endblock %}

{% block body %}
    <h1>Tickets ou abonnements ?</h1>
    <p>Une gamme complète de tickets et abonnements vous permet de choisir le titre de transport qui conviendra le mieux à vos besoins de déplacement.</p>
    <p>Les abonnements mensuels et annuels vous offrent le tarif le plus avantageux pour un nombre de voyages illimité. Ils nécessitent l'établissement préalable de la carte Badgéo.</p>

    <a href="https://www.cts-strasbourg.eu/fr/Titres-de-transport/tarifs/Tickets/" class="btn">DÉCOUVRIR LA GAMME DE TICKETS</a>
    <a href="https://www.cts-strasbourg.eu/fr/Titres-de-transport/tarifs/Abonnements/" class="btn">DÉCOUVRIR LES ABONNEMENTS CTS</a>
    <a href="https://abonnement-gratuit.cts-strasbourg.eu/" class="btn">DÉCOUVRIR L'ABONNEMENT 4-17 ANS GRATUIT</a>
    <a href="https://www.cts-strasbourg.eu/fr/Titres-de-transport/tarifs/tarification-solidaire/" class="btn">DÉCOUVRIR LA TARIFICATION SOLIDAIRE</a>
    <a href="https://www.passmobilite.eu/particuliers" class="btn">DÉCOUVRIR LE PASS MOBILITÉ</a>
{% endblock %}
