{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


 <h1> La liste des topics de {{ categorie }}</h1>


    {% for topic in categorie.topics %}
        {{ topic }} <br>
    {% endfor %}
{% endblock %}